:root {
  /* --bg00: #F4F3EE; */
  --bg00: #ffffff;
  --bg01: #fafafa;
  --bg02: #ebebeb;
  --fg00: #cccccc;
  --fg01: #a3a3a3;
  --fg02: #363d45;
  --fg03: #cf1020;
  --yellow: #dbcfb0;
  --red: #dbb1af;
  --green: #90b494;
  --blue: #658db8;
  --builtin: #8f0075;
  --comment: #595959;
  --comment-delimiter: #595959;
  --constant: #0000b0;
  --doc: #2a5045;
  --function-name: #721045;
  --keyword: #531ab6;
  --string: #354fcf;
  --attribute: #005e8b;
  --type: #005f5f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg00: #e9e9e9;
    --fg01: #d4d4d4;
    --fg02: #bebebe;
    --bg00: #232323;
    --bg01: #272727;
    --bg02: #3d3d3d;
    --builtin: #f78fe7;
    --comment: #989898;
    --comment-delimiter: #989898;
    --constant: #00bcff;
    --doc: #9ac8e0;
    --function-name: #feacd0;
    --keyword: #b6a0ff;
    --string: #79a8ff;
    --attribute: #00d3d0;
    --type: #6ae4b9;
  }
}

.timestamp {
  color: var(--blue);
  font-size: 0.9rem;
  font-style: italic;
}
.timestamp-kwd {
  color: var(--blue);
}

.figure-number {
  display: none;
}

.footpara {
  display: inline;
}
.footdef {
  margin-bottom: 1em;
}

/*  Content */
#content {
  font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
    "Noto Sans CJK", sans-serif;
}

/* code */
pre {
  overflow: auto;
  margin: 0;
  padding: 1em;
  /* font-size: 120%; */
  font-size: 0.9rem;
  background-color: var(--bg01);
  font-family: monospace;
  -webkit-text-size-adjust: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

:not(pre) > code {
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--function-name);
  border-radius: 0.3rem;
  color: var(--bg01);
  padding: 0.1rem 0.4rem;
  word-break: break-word;
}

figure {
  padding: 0;
  margin: 0;
  text-align: center;
}

figcaption {
  text-align: center;
  font-size: 0.78em;
  color: var(--fg01);
}
img {
  display: block;
  max-width: 100%;
  margin: 1em 0 1em 0;
}
.collage {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: unset;
  text-decoration: none;
}
span[class^="section-number"] {
  font-size: 0.75em;
  user-select: none;
}
body {
  background-color: var(--bg00);
  color: var(--fg02);
}

#preamble,
#content,
#postamble {
  width: 100%;
  max-width: 45em;
  margin: 0 auto;
}
hr {
  border: 1px solid var(--bg02);
}
p {
  text-justify: inter-word;
}
p,
li {
  line-height: 1.7em;
}
a {
  color: var(--fg03);
  text-decoration: none;
}
a:hover {
  background-color: var(--bg02);
}
blockquote {
  margin: 0;
  padding: 0.4em 1.2em;
  border-left: 0.2em solid var(--fg01);
  background-color: var(--bg01);
  font-size: 0.9em;
}

#header > ul {
  list-style-type: none;
  padding: 0;
}
#header > ul li {
  display: inline-block;
  font-size: 1.05em;
  font-weight: 300;
}
#header > ul li a {
  text-transform: uppercase;
  text-decoration: none;
}
#header > ul li + li:before {
  content: "|";
  padding: 0 0.4em;
  color: var(--bg02);
}

footer {
  padding-top: 3em;
  padding-bottom: 0.75em;
  line-height: 1.3;
  font-size: 0.7em;
  text-align: center;
  user-select: none;
}

#text-table-of-contents {
  margin: 3em auto;
}

.blog-footer {
  margin: 0 auto;
  max-width: 25em;
  padding: 0.75em 1em 1em 0.75em;
  margin-top: 6em;
  font-size: 0.7em;
  text-align: center;
}

h1 {
  font-size: 1.7em;
}

h2,
h3,
h4 {
  line-height: 1.46;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  hyphens: none;
}

.verse {
  text-align: center;
  border: dashed 1px;
  font-style: italic;
  border-radius: 3px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.articles-item {
  display: flex;
  font-style: italic;
  line-height: 2.2rem;
  margin-bottom: 0.7rem;
}

.articles-item > a {
  text-decoration: none;
}

.articles-item > time {
  margin-left: auto;
  color: var(--fg01);
}

.articles > h2 {
  text-align: center;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

#content > ul > li {
  margin-bottom: 0.5em;
}

.footnotes {
  margin-top: 5em;
}

/* tables */

table {
  margin: auto;
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 20px;
}

tr {
  border: 1px solid #333;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}

td {
  border: 1px solid #333;
  padding: 10px;
}

th {
  border: 1px solid #333;
  text-align: left;
  padding: 20px;
}

details {
  border-top: 2px dashed var(--fg00);
  border-bottom: 2px dashed var(--fg00);
  border-left: none;
  border-right: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
